@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #23252c;
  font-family: "Inter", sans-serif;
}

/* Info */

.main-container {
  margin: 50px auto;
  background-color: #1a1b21;
  width: 317px;
  border-radius: 0px 0px 10px 10px;
}
.profile-pic {
  width: 317px;
  height: 317px;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}
.info-wrapper {
  padding: 20px 10px;
}
.name {
  font-size: 25px;
  text-align: center;
  color: #ffffff;
}
.career {
  font-family: Inter;
  font-size: 12.8px;
  text-align: center;
  color: #f3bf99;
}
.button-wrapper {
  display: flex;
  justify-content: center;
  gap: 15px;
}
.email-button,
.linkedin-button {
  width: 115px;
  padding: 9px 0px 9px 0px;
  border-radius: 6px;
  border: none;
  font-size: 14px;
  cursor: pointer;
}
.linkedin-button {
  background-color: #5093e2;
  color: #ffffff;
}
.email-svg,
.linkedin-svg {
  width: 16px;
}
.linkedin-svg {
  fill: #ffffff;
}
.button-text {
  vertical-align: 3px;
  padding-left: 8px;
}

/* About */
.content-wrapper {
  width: 247px;
  margin: 0 auto;
  padding-top: 20px;
}
.about--title,
.interests--title {
  font-size: 16px;
  line-height: 150%;
  color: #f5f5f5;
  padding-top: 10px;
}
.about--para,
.interests--para {
  font-size: 10.24px;
  line-height: 150%;
  color: #dcdcdc;
}

/* Footer */
.twitter-svg,
.github-svg {
  width: 20px;
  fill: #918e9b;
}
.footer-wrapper {
  background: #161619;
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 10px 40px;
  margin-top: 20px;
  border-radius: 0px 0px 10px 10px;
}
/* styling for destop */
@media only screen and (min-width: 768px) {
}
